@charset "utf-8"; 
/* CSS Document */
div{ word-wrap: break-word; box-sizing: border-box;  overflow: hidden; font-family: Lucida Sans Unicode; }
html,body{border: 0;  padding: 0; margin: 0; width: 98.7vw;  text-align: center; }
#menu { position: fixed;  left: 0;  top: 0;  width: 100px;  height: 97vh;  background-color: #6ED68A;  border-bottom-right-radius: 30px;  border-top-right-radius: 30px; 
		flex: 1;  display: flex;  flex-direction: column;  justify-content: center;  box-shadow: 2px 2px 2px rgba(57, 137, 79, 0.6); }
.menu_row{height: 100px;  margin: 5px 0; cursor: pointer; }
.menu_Button{width: 100%;  }
.menu_title{width: 100%;  color: #A3F4B9;  line-height: 0.8;  padding-bottom: 5px;   }


#main{width: 98.5vw; height: 97vh; background-color: #A3F4B9; flex: 1;  display: flex;  flex-direction: column; border-radius: 30px;   }
#ctn-1{ width: 100%;  height: auto;  margin: 0;  }
#head{width: 100%;  height: auto; }
#yellow{margin: 0 0 0 40%;  height: auto;  background-color: #FFF1B9;   border-radius: 30px;  flex: auto;  display: flex;  align-items: center;  justify-content:  center;    }
	#yellow .search-container { float: center;  margin: auto;  }
	#yellow input[type=text] { padding: 16px;  margin: auto;  font-size: 17px;  border: none; }

	#yellow .search-container button {
	  float: center; 
	  padding: 16px 20px; 
	  margin: auto; 
	  margin-right: 16px; 
	  background: #CCC; 
	  font-size: 17px; 
	  border: none; 
	  cursor: pointer; 
	  color:#A3F4B9;	
	}

	#yellow .search-container button:hover {
	  background: #6ED68A; 
	}

.cursor{cursor: pointer;}
#catalog, #Recipe_ID{background-color: white;  width: 100%; }
.Head1{font-size: 5vw ;  font-weight: 900;  color: #6ED68A;  line-height: 6vw; margin: 30px 120px;  }
.margin{margin: 0 120px;  }

.cat_50{width: 50%;  float: left;  height: auto; border-radius: 15px; background-size: cover;}
.cat_50:after {content: "";   display: block;   padding-bottom: 90%; }
.cat_right-Top{width: 50%; float: right;  background-color: aquamarine; border-radius: 15px; background-size:auto 100% ; }
.cat_right-Top:after {content: "";   display: block;   padding-bottom: 100%; }
.cat_right-buttom{width: 100%;  height: 100%;  float: right;  background-color: pink; border-radius: 15px;  background-size: cover; position: relative; text-align: center; color: white; }
.cat_right-buttom:after {content: "";   display: block;   padding-bottom: 40%; }
.cat_font{font-size:3vw; color:white; font-weight: 800; text-shadow: 2px 2px 4px #000000; line-height: 50px;}
.centered { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.Head2{font-size: 3vw ;  font-weight: 600;  color: #6ED68A;  line-height: 50px;  }
.POP_recipe_box{padding-bottom: 100px;  }
/*.POP_recipe_box>div:nth-child(n+2){ margin-left: 1%;  }*/
.recipes{ width: 24%;  border: solid #439346;  border-radius: 15px;  float: left;  padding-bottom: 15px; margin: 0.5%;  cursor: pointer;  }

.recipe_title{font-size: 1em ;  font-weight: 600;  color: 80% black;  line-height: 35px; }
.recipe_image{background-size: cover; background-position: center;  background-repeat: no-repeat; }
.recipe_image:after { content: ""; display: block;  padding-bottom: 75%;  }


#About{background-color: #FFF1B9; height:  20vw; padding: 6vw 0; }

#About_content{color: #6ED68A;  font-weight: 600;  text-align: justify; }

#Copyright{padding-top: 50px;}

@media only screen and (max-width: 900px){
	.cat_50{width: 100%;  float: left; }
	.recipes{ width: 49%;  border: solid #439346;  border-radius: 5px;  padding-bottom: 5px;  margin-bottom: 1%;  }
	#POP_recipe_box>div:nth-child(even){ margin-left: 1%;  }
	
	
}

/*User Login page*/
#login{	width: 400px; background:#51A668; box-shadow: 0px 0px  9px 3px rgba(0, 0, 0, 0.6) ; text-align: left;
		position: absolute; top: 50%; left: 50%;  margin: -75px 0 0 -200px; border-radius: 10px; padding: 15 30;}
#login-table{width: auto; margin:30px 60px; }
#login input[type=button] {width:90px;}
#err{text-align: center; padding:20px 20px; line-height: 1.9em;   }





/* recipe_ID page */
.RecipeID_image{width: 100%;  float: left;  height: auto; border-radius: 15px; background-size: cover; background-position: center;}
.RecipeID_image:after {content: "";   display: block;   padding-bottom: 400px; }

.Recipe_info-Top{width: 50%; float: left;  background-color:#F0FFF6; border-radius: 15px; background-size:auto 100% ; position: relative; text-align: center; color:#2B572B;  }
.Recipe_info-Top:after {content: "";   display: block;   padding-bottom:50%; }
.Recipe_info-buttom{width: 100%;  height: 50%;  float: left;  background-color:#EDFBDC; border-radius: 15px;  background-size: cover; background-position: center; position: relative; text-align: center; color: #2B572B; }
.Recipe_info-buttom:after {content: "";   display: block;   padding-bottom: 25%; }
.centered p{font-size:2.2vw;  line-height: 2vw;}
.recipe-main-info{font-size:8vw; line-height:4vw;}
.recipe-info{text-align: justify ; font-size:1.5vw; line-height: 1.5vw;}
.recipe-Ingredient{width:50%;float: left; padding-left: 15%;}
.recipe-Ingredient-Amount{width:20%;float: left; }
.recipe-Ingredient-Unit{width:30%;float: left; padding-right: 15%; text-align: right;}
.IGD_box, .instru_box{width: 100%;  float: left;  height: auto; border-radius: 15px; background-size: cover; margin: 10px 0;}
/*.IGD_box:after, .instru_box:after {content: "";   display: block;   padding-bottom: 100%; }*/
.IGD_type{background-color:#EDFBDC;}
.IGD_content{text-align: left;}
.instru_image{width:30%;float: left;background-color:#A3F4B9; background-size: cover; background-position: center;}
.instru_image:after {content: "";   display: block;   padding-bottom: 100%; }
.instru-step{text-align: left;width:70%; padding-left:10px; vertical-align: text-top; }
.instru-step:after {content: "";   display: block;   padding-bottom: 11%; }
.step{font-size:5vw;}
.instru{font-size:1.5vw; }
.instru_image2{width:30%;float: right;background-color:#A3F4B9; }
.instru_image2:after {content: "";   display: block;   padding-bottom: 100%; }
.instru-step2{text-align: right;width:70%; padding-right:10px; vertical-align: text-top; }
.instru-step2:after {content: "";   display: block;   padding-bottom: 11%; }
.recipe-info{width:80%;display: table;}
.recipe-info-detail{margin: 10px 0 ; font-size:1vw; table-layout:fixed;}
.recipe-info-detail td{width:33.333%;}
.recipe-info-detail td:nth-child(3){text-align: right;}
#addTotable-button{width:100%; height:6vw; background-color:#1D6D26; color:#7DC18C; font-size:3vw; line-height: 7vw;  margin-top: 15vw; cursor: pointer;}


/*Recipe Search page*/
.Count {font-size: 4vw ;  font-weight: 400;  color: #6ED68A ;  line-height: 4vw;  }
.Head4 {font-size: 2vw ;  font-weight: 400;  color: #242424 ;  line-height: 3vw;  }



/* Recipe page */
.cat_head{	width:100%;  float: left;  height: auto; border-radius: 15px; background-size:120% 200%; background-position: center; position: relative; margin-top: 1vw;}

.catalog_container{	 border: 0.3vw solid #BCDEB2; border-radius: 2vw; }
.cat_head_font{font-size:5vw; color:#216433;}
.cat_head:after {content: "";   display: block;   padding-bottom: 150px; }
.cat_box{width: 100%; text-align: center; }
.cat_type{float: left;  height: auto; position: relative; border-radius:1vw; background-size: cover; margin: 0.5vw 0 1vw 2% ; cursor: pointer;  }
.cat_type_25{width:23%;}
.cat_type_25:after {content: "";   display: block;   padding-bottom: 100%; }
.cat_type_50{width:46%;}
.cat_type_50:after {content: "";   display: block;   padding-bottom: 50%; }
.cat_type_font{font-size:3vw; color:white; font-weight: 800; text-shadow: 1px 1px 3px #000000; line-height: 3vw;}
/*recipe search*/
#IngredientSearch_box{background-color: #BCDEB2; height: auto; padding:0.1vw 3vw 3vw 10vw; color:#1D6D26; font-size:1.5vw; line-height: 2vw; }
#IngredientSearch_box .Head2{ color:#1D6D26; line-height: 0.5vw;}
#selection1,#selection2, #selection3{  font-weight: 600; margin-right: 2vw;}
.IGD-dropbox{width:7vw; height:7vw; margin:4vw 4vw; border-radius: 1.5vw; border:0.4vw dotted #6ED68A ;  outline: 0.4vw dotted #A2FFA9 ;
  outline-offset: 1vw; float:right;}
.IGD-dropbox:after{width:8vw; height:8vw;  border-radius: 1.5vw; border:0.4vw dotted #257A32; background-color: aquamarine; }
.IGD-drop-button-box{width:10vw; height:10vw; margin:2.5vw 12vw 6vw 2vw; float:right;  }
.IGD-Drop-button{disp1ay:block; width:7vw; height:7vw ;background-color:#6ED68A;  border-radius: 0.6vw; border:0.01vw groove gray; font-size:2.5vw; font-weight: 400; cursor: pointer; color:#1C5717}
.IGD-Drop-button:nth-child(2){ width:7vw; height:2.5vw ; font-size:1.5vw; margin: 0.5vw 0;}
.Drag-foodtype{width:100%}
#RCP-selection{width: 85vw; height:15vw; background-size: 100% 200%; }
.drag-L-type{width:25%; float: left;}
.drag-R-type{width:75%; float: left;}
.Head2-foodtype{font-size: 2vw ;  font-weight: 400;  color: #2B9B49;  line-height: 2vw;  }
.IGD-dragbox{width:7vw; height:7vw; margin:0.6vw; border-radius: 1vw; border:0.5vw solid #6ED68A; float:left; background-color: #6ED68A;}
.IGD-Icon{width:6vw; height:6vw; ccursor: pointer; background-size: cover; position: relative;cursor:grab; }
/*.IGD-Icon:after {content: "";  display: block;  padding-bottom: 100%; } */
.IGD-Icon_font{font-size:1.5vw; color:white; font-weight: 800; text-shadow: 1px 1px 3px #000000; line-height: 2vw;}
#wordings{line-height:2vw; color: #236628;}



/*Rummage page*/
.stock-type:after{content: "";   display: block;   padding-bottom: auto; }
#Rummage-IngredientSearch_box{background-color:#F0FDB4 ; height: auto; padding:0.1vw 3vw 3vw 10vw; color:#93E3F7; font-size:1.5vw; line-height: 2vw; }
#Rummage-IngredientSearch_box .Head2{ color:#1D6D26; line-height: 0.5vw;}

/*Recipe Catalog (Recipes) page*/
.cat_type_100{width:100%; height: auto; position: relative; border-radius:1vw; background-size: cover; margin: 30px 0;  }
.cat_type_100:after {content: "";   display: block;   padding-bottom: 300px; }


/*Urtable*/
#Urtable{width:100%; height:auto;background-image: url('image/dish-01.png'); bacjground-size: auto 50% ; background-repeat: no-repeat;  background-color: #AE8A7D; padding:0.1vw 3vw 3vw 23vw; color:#AE8A7D; font-size:1.5vw; line-height: 2vw; text-align: center; }
#dish{width:57vw; height: 42vw; }
.dish-Head2{color:#371011; font-size: 3vw; font-weight: 600;  line-height: 50px; }
.table-recipe{ width: 24%;  border:2px solid #642C2C;  border-radius:3vw;  float: left; padding-bottom: 2px;  margin: 0.5%;  cursor: pointer; color:#371011; }


