
body{height: 100%; width: 100%; padding:0; margin:0; text-align:center; }
.container-fluid{height :100%; padding:0; margin:0;}
div{overflow:hidden; word-wrap:break-word;box-sizing: border-box; font-family:Arial; width:100%;}

.IGD_box{width:100%; text-align: left; height: auto;padding: 0 10%;}
.RCPigdform_add{width:100%; text-align: left; height: auto; padding: 0 10%;}
.IGD_type{width:20%; float: left;line-height: 25px;  padding: 0px 10px ;}
.IGD_content{width:80%;float: left; line-height: 25px; padding-left: 10px;}
.addNewIGD #addNewIGD{width:80%;}

.IGD_type_box:nth-child(odd){height:auto;  background-color:beige;}

.Ingredient{width:45%;float: left}
.Ingredient-Amount{width:15%;float: left; }
.Ingredient-Unit{width:20%;float: left; }
.Ingredient-button{width:10%;float: left;}
.block {
	  display: block;
	  width: 100%;
	  border: none;
	  background-color: #4CAF50;
	  padding: 14px 28px;
	  font-size: 16px;
	  cursor: pointer;
	  text-align: center;
	}
.IGD-button {
	  display: block;
	  line-height: 25px;
	  width: 100%;
	  border: 0.1px solid grey;
	  background-color: #49825B;
	  padding: 5px auto;
	  font-size: 16px;
	  cursor: pointer;
	  text-align: center;
	}