@charset "utf-8";
/* Admin page */
/*div{font-family:Arial; text-align:center;  word-wrap:break-word;box-sizing: border-box;}
body{border:0; padding:0;margin:0; height: 100%; overflow:hidden;}*/

body{height: 100%; width: 100%; padding:0; margin:0; text-align:center; }
.container-fluid{height :100%; padding:0; margin:0;}
div{overflow:hidden; word-wrap:break-word;box-sizing: border-box; font-family:Arial;}
/*#container{overflow:hidden;text-align: right;vertical-align: middle; height:5%; background:#C4C4C4; }*/
.login{width: auto;display: inline-block;text-align: left;  border: 0px;}
/*
#login1{margin-right: 20px; line-height: 30px; font-weight: bold; color: #444; }
*/
#main{height:95%;scroll-behavior: auto; text-align: center;}
#login{	width: 400px; background:#51A668; box-shadow: 0px 0px  6px rgba(0, 0, 0, 0.6) ; text-align: left;
		position: absolute; top: 50%; left: 50%;  margin: -150px 0 0 -200px; border-radius: 10px; padding: 15 30;}
#login-table{width: auto; margin:30px 60px; }
input[type=button] {width:90px;}

/*Registration page*/
#registration{	width: 700px; background:#51A668; box-shadow: 0px 0px  6px rgba(0, 0, 0, 0.6) ; text-align: center;
		position: absolute; top: 50%; left: 50%;  margin: -200px 0 0 -300px; border-radius: 10px; padding: 3vw;}
.check_button{display: block; width:150px;}
#registration input[type=text] {width:250px;}
#registration #login-table{text-align: left;}

/*User functions page*/
.left-margin{margin-left: 100px;}



/*User page*/
#User_data_box{width:70%; height: auto; background-color:#A3F4B9; border-radius: 1vw; padding: 5%; box-shadow: 0px 0px  6px rgba(0, 0, 0, 0.6); margin:15px 15%;}

.UserItem-title{width:25%; float:left; background-color: aliceblue;}
.UserItem-Input{width:75%; float:left; background-color:antiquewhite;}
.line{margin:10px 0; line-height: 22px; text-align: left;}
.UserItem-Input input{width:100%;}
.UserEdit-buttondiv{ height: 20px; background-color:#9F9F9F; border-radius: 0.1vw;}
.UserEdit-button input[type=button] {width:150px; border-radius: 0.1vw;}


/*UrStock page*/
#UrStock{width: 100%;}
.location{width:auto; height:auto;  background-color: aquamarine; border-radius:2vw;  padding:2vw 4vw 5vw; background-size:cover; }
.location:after{ content: "";   display: block;   padding-bottom: auto;} 
/*.cat_50{width: 50%;  float: left;  height: auto; border-radius: 15px; background-size: cover;}
.cat_50:after {content: "";   display: block;   padding-bottom: 90%; }*/
.stockIGD-item{width: 15%;  float: left;  height: auto; border-radius: 3vw; background-size: cover; margin: 1vw; position: relative; }
.stockIGD-item:after {content: "";   display: block;   padding-bottom: 100%; }
.Location_Head{font-size: 3vw ;  font-weight: 600;  color: #286D3B;  line-height: 50px;}
.User_page_button{	float:left;  width:50%; height:9vw; font-size:2.5vw ;font-weight: bold; line-height:1vw; background-color:#51A668; cursor: pointer; 
		border-radius: 1vw;box-shadow: 3px -2px  4px rgba(0, 0, 0, 0.6) ; border-right:solid 0.1px #333; border-left:solid 0.1px #6ED68A; border-bottom: groove 1px #6ED68A; margin-top:5px; color:#A0E7A3}
	.User_page_button:hover {background-color:#3D7F4F;}
.User_page_button p{line-height: 4.5vw;}
.IGD_font{font-size:1.2vw; color: #286D3B; font-weight: 800; text-shadow: 1px 1px 3px #000000; line-height: 1.7vw;}
.IGD_font span{font-size: 2vw;}
#yellow{height:20%}



/*Edit stock page*/
.stockIGD_box{width:100%; text-align: left; height: auto;padding: 0 10%;}
.RCPstockIGDform_add{width:100%; text-align: left; height: auto; padding: 0 10%;}
.stockIGD_type{width:20%; float: left;line-height: 25px;  padding: 0px 10px ;}
.stockIGD_content{width:90%;float: left; line-height: 20px; padding-left: 10px;}
.addNewstockIGD #addNewstockIGD {width:100%;}

.stockIGD_type_box:nth-child(odd){height:auto;  background-color:beige;}
.content_box{width:100%;}

.Ingredient{width:25%;float: left}
.Ingredient-Amount{width:20%;float: left; }
.Ingredient-Unit{width:25%;float: left; }
.Ingredient-button{width:15%;float: left;} /*2 buttons at same line*/
.block {
	  display: block;
	  width: 100%;
	  border: none;
	  background-color: #4CAF50;
	  padding: 14px 28px;
	  font-size: 16px;
	  cursor: pointer;
	  text-align: center;
	}
.stockIGD-button {
	  display: block;
	  line-height: 20px;
	  width: 100%;
	  border: 0.1px solid grey;
	  background-color: #49825B;
	  padding: 5px auto;
	  font-size: 16px;
	  cursor: pointer;
	  text-align: center;
	}

.Ingredient-button input[type=button]{wdith:100%;}








/* AdminFunctions page */
	
	
	#screen{ height:auto; background-color:#51A668;border-radius: 1vw;}/*#6ED68A;*/
	#banner{ float: top;  width:100%;  text-align: center; }
		.panels{text-align: left;display: inline-block;}
		.mypanel{text-align:left; width: auto;}
		
	.mypanel2{text-align:left; width: auto;}
	.page_button{	float:left;  width:50%; height:6%; font-size:1.2em ;font-weight: bold; line-height:5%; background-color:#51A668; cursor: pointer; 
			border-top-left-radius: 10px;border-top-right-radius: 10px;box-shadow: 3px -2px  4px rgba(0, 0, 0, 0.6) ; border-right:solid 0.1px #333; border-left:solid 0.1px #6ED68A; border-bottom: groove 1px #6ED68A; margin-top:5px;}
		.page_button:hover {background-color:#3D7F4F;}

	.page{	height:auto; 
			text-align:center; width:100%; float:left; background-color:white; 
			box-shadow: -2px 5px  4px rgba(0, 0, 0, 0.6) ;  border: solid 0.1px #666;
			}
		.page:after {content: "";   display: block;   padding-bottom: 100%; }
		
	

	#bottom{float: right; background-color:  #e6ffcc; width:100%; height:5%;
			margin: 0%; position: fixed;   left: 0%; bottom: 0%;}

	.L{width:10%;float:left;}
	.R{width:90%;float:left;}

/*Edit Pages style
	#feedback{width:90vw;}
	#Result,#Result1{float:right; background-color: lightyellow; width:100%; height:auto;text-align:center; }
	.Result{text-align: center; width:auto; display: inline-block; }
	
	
	#IGDform tr, td{ padding-left: 10px;}
	#IGDform input[type=text]{  width:20em;}
	#addRCPtable table, #RCPtable table{width:80%; margin: 20px auto;}
	#addRCPtable input[type=button], #RCPtable input[type=button]{width: 100%;}
	table{text-align: left; border-collapse: collapse;  color: #444; min-width: 300px; word-wrap:break-word; }
    tr{  line-height: 25px; }
    th{ background-color: #B1C3CC; border-right: 1px solid #B1C3CC;  color: #000;  font-size: 13px;  text-align: left; }
    th, td{  padding-left: 10px;}
	tbody.data tr{border: 1.2px solid #666;}
	#IGDtable{margin: 20px 0;}
	.addNew {width:80%; margin: 0px auto;}  */	

	.block {
	  display: block;
	  width: 100%;
	  border: none;
	  background-color: #4CAF50;
	  padding: 14px 28px;
	  font-size: 16px;
	  cursor: pointer;
	  text-align: center;
	}

	button.collapsible{padding:10px;}
	.collapsible {
	  background-color: #51A668;
	  color: #B0EDB9;
	  cursor: pointer;
	  width: 100%;
	  border: none;
	  text-align: center;
	  outline: none;
	  margin: 0 0 4px 0;
	  font-size: 20px;
	}
	.active, .collapsible:hover { background-color: #3D7F4F; }
	.content {
	  padding: 30px 18px;
	  display: none;
	  overflow: hidden;
	}
		
	/* Style tab links */
	button.tablink{padding:10px;}
	.tablink {
	  background-color: #666;
	  color: #222;
	  float: left;
	  border:none;
	  border-bottom: 1px solid grey;
	  outline: none;
	  cursor: pointer;
	  padding: 25px 5px;
	  font-size: 15px;
	  width: 100%;
	  text-align: left;
	  font-weight:600;
	}

	.tablink:hover {
	  background-color: #999;
	}

	.tabcontent {
	  color: #222;
	  display: none;
	  padding: 20px 0px;
	  height: 100%;
	  overflow: scroll;
	}
 	.tabcontent:after {content: "";   display: block;   padding-bottom: 100%; }

#Edit_UrStock, #Edit_UrRecipe {background-color: lightyellow;}

